@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #33475B;
    font-family: 'IBM Plex Sans', sans-serif;
}

header {
    background-color: #FFFFFF;
    height: 80px;
    display: flex;
}

.container-elementos-header {
    width: 1280px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-principal {
    color: #0000EE;
    font-weight: 24px;
}

.label-pesquisa {
    background-color: #D81E8C;
    height: 40px;
    padding: 12px;
    border-radius: 4px;
    display: flex;
    gap: 4px;
    align-items: center;
}

.input-pesquisa {
    background-color: transparent;
    border: none;
    padding: 4px;
    outline: none;
}

::placeholder {
    color: #FF97D3;
}

.trilhas-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: center;
 }

.card {
    background: #F5F5F5;
    width: 400px; 
    height: 444px;
    border-radius: 4px;
    padding: 32px;
    box-sizing: border-box;
    margin: 20px auto;
}

.card h2 {
    color: #364372;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
}

.card p {
    color: #000000;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-top: 24px;
}

.card button {
    width: 138.77px;
    height: 47.48px;
    border: 1px solid #264FEC;
    border-radius: 4px;
    
    color: #264FEC;   
    font-family: 'IBM Plex Sans';
    font-size: 14px;
    line-height: 18px;
    box-sizing: border-box;
    
    
}

.rodape {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    align-items: center;
    padding: 32px;


}

.informacoes-footer {
   display:  flex;
   align-items: center;
}

.social {
    text-align: center;
}

.rodape-social {
    display: flex;
    list-style: none;
}

.rodape-links {
    display: flex;
    flex-direction: column;
    
}

.rodape-midia {
    display: block;
    width: 42px;
    height: 42px;
    margin: 2rem 1rem;
}

.rodape-link {
    display: inline-block;
    margin: 0 .5rem .7rem;
}