@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #33475B;
    font-family: 'IBM Plex Sans', sans-serif;
}

header {
    background-color: #FFFFFF;
    height: 80px;
    display: flex;
}

.container-elementos-header {
    width: 1280px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-principal {
    color: #0000EE;
    font-weight: 24px;
}

.label-pesquisa {
    background-color: #D81E8C;
    height: 40px;
    padding: 12px;
    border-radius: 4px;
    display: flex;
    gap: 4px;
    align-items: center;
}

.input-pesquisa {
    background-color: transparent;
    border: none;
    padding: 4px;
    outline: none;
}

::placeholder {
    color: #FF97D3;
}

/* Trilhas */

.trilhas-container {
    width: 1280px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
 }

 .card {
    width: calc((100% - 64px) /3);
    background: #F5F5F5;
    border-radius: 4px;
    padding: 32px 32px 86px;
    position: relative;
    /*box-sizing: border-box;
    margin: 20px auto; */
}

.titulo-trilha {
    color: #364372;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 24px;

}

.paragrafo-trilha {
    /* color: #000000;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px; */
    margin-bottom: 16px;
}

.link-ementa {
    border: 1px solid #264FEC;
    border-radius: 4px;
    padding:16px;
    text-decoration: none;
    position: absolute;
    bottom: 32px;
    width: 160px;
    height: 54px;
    color: #264FEC;
    transition: 0.3 all;
    text-align: center;
}

.link-ementa:hover {
    background-color: #264FEC;
    color: #FFFFFF;
    border-color: #0000D6;
}

/* Rodapé */

footer {
    background-color: #FFFFFF;
    height: 110px;
    display: flex;
}

.container-elementos-footer {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-logos {
    display: flex;
    gap: 24px;
}

.container-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.container-links a {
    text-decoration: none;
    color: #000000;
}

.container-direita {
    display: flex;
    gap: 54px;
    align-items: center;
}

.container-icones {
    display: flex;
    gap: 16px;
}

.container-midias {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}